.title{
    text-align: center;
    font-size: 50px;
}
.workspace{
    text-align: center;
    border-color: yellow;
    border-width: 200px;
    border-style: dashed;
    /* display: flex; */
    align-items: center;
    position: relative;
}

.workspace textarea{
    width: 500px;
    height: 500px;
    /* display: inline-flex; */
    justify-items: center;
    padding: 10px;
    position: absolute;
}